li input{
    appearance: none;
    outline: none;
    border: 1px solid #000;
    border-radius: 3px;
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
li input::before {
    position: absolute;
    content: "";
    border-radius: 2px;
    height: 55%;
    background-color: #000;
    opacity: 0;
    transition: all 300ms ease-in-out;
}
li input:checked:before {
    opacity: 1;
}