#reviewCard{
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #ffffffe6;
}
#reviewCard > div{
    width: 377px;
    height: 353px;
    box-sizing: border-box;
    padding: 21px 25px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 13px;
}
#reviewCard > div > h4{
    font-size: 22px;
    margin-bottom: 28px;
}
#aboutSnacks, #aboutDrink, #aboutDessert, #totalPrice{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#aboutSnacks h5, #aboutDrink h5, #aboutDessert h5, #totalPrice h4{
    font-size: 22px;
    letter-spacing: 0.02em;
}/* buttons */
#submitOrder{
    width: 329px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 100px;
    border: transparent;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #50D074;
    cursor: pointer;
    transition: letter-spacing 100ms ease-in-out;
}
#submitOrder:hover{
    letter-spacing:0.04em
}
#cancelOrder{
    width: 333px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 20px;
    border: transparent;
    cursor: pointer;
    transition: background 300ms ease-in-out;
}
#cancelOrder:hover{
    background-color: rgba(0, 0, 0, 0.6);
}